<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garbage Pail Kids</title>
</head>
<body style="background-color: rgb(131, 160, 4)">
    <h1 style="text-align: center;"><%= cards[0].series %></h1>
    <div class="container" style="display: flex; width: 1000px; flex-wrap: wrap; align-items: stretch; justify-content: center; background-repeat: no-repeat;">
        <% cards.forEach((card) => { %>
            <div style="margin: 10px; background-color: rgb(215, 241, 176); padding: 5px; padding-bottom: 60px; border: solid green 2px; border-radius: 4px;"><img style="height: 400px; width: 250px; border: solid rgb(228, 250, 26) 2px; border-radius: 3px;" src="<%= card.img %>">
                <ul style="text-align: center; width: 200px">
                    <li style="list-style-type: none"><%= card.name %></li>
                    <li style="list-style-type: none;"><%= card.series %></li>
                    <li style="list-style-type: none;"><%= card.number %></li>
                    <li style="list-style-type: none;"><%= card.fanFave %></li>
                </ul>
            </div>
        <% }) %>
    </div>
</body>
</html>

