<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garbage Pail Kids</title>
</head>
<body style="background-color: rgb(131, 160, 4); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <h1 style="color:rgb(215, 241, 176); text-align: left; margin-left: 15px; text-transform: uppercase;"><%= cards[0].series %></h1>
    <% const addButton = cards[0].series.toLowerCase().split(" ").join("") %>
    <button><a href="/gpk/<%= addButton %>/add">ADD CARD</a></button>
    <div class="container" style="display: flex; width: 875px; flex-wrap: wrap; justify-content: left; float: left;">
        <% cards.forEach((card) => { %>
            <div style="margin: 10px; background-color: rgb(215, 241, 176); padding: 5px; padding-bottom: 60px; border: solid green 2px; border-radius: 4px;"><img style="height: 400px; width: 250px; border: solid rgb(228, 250, 26) 2px; border-radius: 3px;" src="<%= card.img %>">
                <ul style="text-align: center; width: 200px">
                    <li style="list-style-type: none"><%= card.name %></li>
                    <li style="list-style-type: none;"><%= card.series %></li>
                    <li style="list-style-type: none;"><%= card.number %></li>
                    <li style="list-style-type: none;"><%= card.fanFave %></li>
                </ul>
            </div>
        <% }) %>
    </div>
</body>
</html>

