<% let url = cards[0].series.toLowerCase().split(' ').join('') %>
<button class="add-card" style="<%= url.includes('series') ? 'opacity: 0' : '' %>">
    <a href="/gpk/<%= url %>/add">ADD CARD</a>
</button>

<h1 style="font-family: double feature; color: aquamarine; text-align: center;"><%= cards[0].series.toUpperCase() %></h1>
<div class="container">
    <% cards.forEach((card) => { %>
        <div class="flip-card">
            <div class="card-inner">
                <div class="card-front">
                    <img style="height: 400px; width: 270px; border: solid rgba(170, 173, 137) 1px;border-left: solid rgb(131, 133, 109) 1px;border-radius: 5px;" src="<%= card.img %>">
                  </div>
                  <div class="card-back">
                      <h2 style="background-color: antiquewhite; margin-top: -50px;"><%= card.name.toUpperCase() %></h2>
                    <ul class="card-info">
                        <li>Number: <%= card.number %><%= card.aOrb %></li>
                        <li>Value: $<%= card.value %></li>
                        <form class="delete" action="/gpk/<%= url %>/<%= card.id %>?_method=DELETE" method="POST">
                            <input type="submit" value="Delete" style="<%= url.includes('series') ? 'opacity: 0' : '' %>">
                        </form>
                    </ul>
                </div>
            </div>
        </div>
        <% }) %>
    </div>

<script>

</script>