<body>
        <% let url = cards[0].series.toLowerCase().split(' ').join('') %>
        <div class="title" style="<%= url.includes('series') ? 'flex-direction: column; justify-content: center; align-items: center; width: 1200px' : '' %>">
            <h1><%= cards[0].series.toUpperCase()%></h1>
        </div>
        <div class="add-button" style="<%= url.includes('series') ? 'opacity: 0; background: none' : '' %>" >
            <a  href="/gpkcards/<%= url %>/add" class="add" style="<%= url.includes('series') ? 'opacity: 0; background: none' : '' %>" >ADD CARD</a>
        </div>
        <div class="container">
    <% cards.forEach((card) => { %>
        <div class="flip-card">
            <div class="card-inner">
                <div class="card-front">
                    <img style="height: 400px; width: 270px; border: solid rgba(170, 173, 137) 1px;border-left: solid rgb(131, 133, 109) 1px;border-radius: 5px;" src="<%= card.img %>">
                  </div>
                  <div class="card-back">
                      <h2><%= card.name.toUpperCase() %></h2>
                      <div class="card-info">
                      <ul>
                          <li>Series: <%= card.series %></li>
                          <li>Number: <%= card.number %><%= card.aOrb %></li>
                          <li>Year Released: <%= card.yearReleased %></li>
                          <li>Value: $<%= card.value %></li>
                        </ul>
                        <div class="button-container">
                        <form action="/gpkcards/<%= url %>/<%= card.id %>?_method=DELETE" method="POST">
                          <input class="actionbutton" type="submit" style="<%= url.includes('series') ? 'opacity: 0' : '' %>" value="DELETE">
                        </form>
                        <form action="/gpkcards/<%= url %>/<%= card.id %>/edit" method="GET">
                            <input class="actionbutton" type="submit" value="UPDATE">
                        </form>
                    </div>
                    </div>
                    <p>&copy TOPPS CHEWING GUM INC.    PRINTED IN USA</p>
                </div>
            </div>
        </div>
        <% }) %>
</div>
</body>