<body>
<% let url = cards[0].series.toLowerCase().split(' ').join('') %>
<a href="/gpk/<%= url %>/add" class="add-button" style="<%= url.includes('series' || 'gallery') ? 'opacity: 0' : '' %>" >ADD CARD</a>


<h1 style="font-family: double feature; color: rgb(228, 87, 44); font-size: 75px; text-align: center;"><%= cards[0].series.toUpperCase() %></h1>
<div class="container">
    <% cards.forEach((card) => { %>
        <div class="flip-card">
            <div class="card-inner">
                <div class="card-front">
                    <img style="height: 400px; width: 270px; border: solid rgba(170, 173, 137) 1px;border-left: solid rgb(131, 133, 109) 1px;border-radius: 5px;" src="<%= card.img %>">
                  </div>
                  <div class="card-back">
                      <h2 style="background-color: antiquewhite; margin-top: -50px;"><%= card.name.toUpperCase() %></h2>
                    <ul class="card-info">
                        <li>Number: <%= card.number %><%= card.aOrb %></li>
                        <li>Year Released: <%= card.yearReleased %></li>
                        <li>Value: $<%= card.value %></li>
                        <form class="delete" action="/gpk/<%= url %>/<%= card.id %>?_method=DELETE" method="POST">
                            <input class="actionbutton" type="submit" value="Delete" style="<%= url.includes('series') ? 'opacity: 0' : '' %>">
                        </form>
                        <form class="update" action="/gpk/<%= card.id %>/edit" method="PUT">
                            <input class="actionbutton" type="submit" value="UPDATE">
                        </form>
                        
                    </ul>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</body>