
    <h1 style="color:rgb(215, 241, 176); text-align: left; margin-left: 15px; text-transform: uppercase;"><%= cards[0].series %></h1>
    <% const addButton = cards[0].series.toLowerCase().split(" ").join("") %>
    <button><a href="/gpk/<%= addButton %>/add">ADD CARD</a></button>
    <div class="container">
    <% cards.forEach((card) => { %>
        <div class="flip-card">
            <div class="card-inner">
                <div class="card-front">
                    <img style="height: 400px; width: 250px; border: solid rgba(211, 214, 176, 0.747) 2px; border-radius: 5px;" src="<%= card.img %>">
                  </div>
                  <div class="card-back">
                  <div class="border">
                    <h1><%= card.name %></h1>
                    <ul style="text-align: center; width: 200px">
                        <li style="list-style-type: none;"><%= card.series %></li>
                        <li style="list-style-type: none;"><%= card.number %></li>
                        <li style="list-style-type: none;"><%= card.fanFave %></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <% }) %>
    </div>

