<h1>FAN ART</h1>
<body>
  <a href="/gpk/gallery/add" class="add-button">ADD ART</a>
  <div class="container">
      <% artists.forEach((artist) => { %>
          <div class="flip-card">
              <div class="card-inner">
                  <div class="card-front">
                      <img style="height: 400px; width: 270px; border: solid rgba(170, 173, 137) 1px;border-left: solid rgb(131, 133, 109) 1px;border-radius: 5px;" src="<%= artist.img %>">
                    </div>
                    <div class="card-back">
                        <h2><%= artist.artist.toUpperCase() %></h2>
                        <div class="card-info">
                        <ul>
                          <li>Card Name: <%= artist.cardName %></li>
                          <li>Price: $<%= artist.price %></li>
                          <li>Website:</li><br>
                          <a href="<%= artist.website %>" style="background-color: rgb(207, 3, 163); width: 100px; padding: 3px; height: 20px; color: rgb(207, 169, 169); border: 1px solid white; text-align: center;">CLICK ME</a>
                      </ul>
                  </div>
              </div>
          </div>
        </div>
          <% }) %>  

      </div>
  </body>